.note{
    color: #525050;
    font-weight:500;
}

.lrzero{
    padding-left: 0px !important;
    padding-right: 0px !important;
}


table.contacts td{
    margin: 0 10px;
    padding: 0px;
    position: relative;
}

table.contacts tr{
    border:none
}

table.contacts a img{
    margin: 5px;
    position: absolute;
    left: 0px;
    -webkit-filter: drop-shadow( 1px 1px 1px rgba(255, 255, 255, 0.2));
    filter: drop-shadow( 1px 1px 1px rgba(255, 255, 255, 0.2));
}

table.contacts a span{
    position: absolute;
    left: 45px;
}

table.contacts a{
    height: 45px;
    color: white;
}

table.contacts a:hover{
    background-color: rgba(255, 255, 255, 0.05);
}


table.background td{
    padding: 10px 0;
    vertical-align: top;
}

table.background tr{
    border:none
}

.title{
    font-size: 16px;
    font-weight: 500;
    color: #525050;
}

a.title:hover{
    text-decoration: underline;
}

.venue{
    font-style: italic  ;
    margin-bottom: 5px;
}

h1{
    font-size: 28px !important;
    font-weight: 500 !important;
    border-bottom:1px solid #bebaba;
}

h2{
    font-size: 24px !important;
    font-weight: 500 !important;
    margin: 0.1rem !important;
}

h3{
    font-size: 20px !important;
    font-weight: 500 !important;
    margin: 0.1rem !important;
}
h4{
    font-size: 16px !important;
    font-weight: 500 !important;
    margin: 0.2rem !important;
}


.btn.chip{
    text-transform: none;
    margin-top: 5px;
    margin-right: 5px;
}

pre{
    overflow: auto;
    border:1px solid #bebaba;
    max-height: 15rem;
    padding: 10px;
    margin:0 !important;
}

i.left{
    margin-right: 10px !important;
}

.modal-fixed-footer{
    max-height: 90% !important;
    height: 90% !important;
    width: 90% !important;
}

.bold{
    font-weight: 500;
}

.abstract{
  border:1px solid #bebaba;
  display: block;
  padding: 10px;
  max-height: 40rem;
  overflow-y:auto;
}

b{
    font-weight: 500 !important;
}

img.icon{
    width: 20px !important;
    margin-left: 0px !important;
    border-radius: 0px !important;
}


.collection-item{
    padding:10px !important;
}


.table-of-contents{
	background-color: #006064;
	position: fixed;
    top: 260px;
    left: 0px;
    border-radius: 2%;
    width: 110px;
}
.table-of-contents a{
	color:#FFFFFF !important;
}
.table-of-contents a.active {
    border-left: 2px solid #eeeeee !important;
}
.table-of-contents a:hover {
	color:#a8a8a8 !important;
	border-left: 2px solid #eeeeee !important;
}
